name: Doc
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.0
      - run: |
          channel=nightly-2025-07-02
          rustup toolchain install "$channel" --no-self-update
          rustup "+$channel" target add thumbv6m-none-eabi
          RUSTDOCFLAGS="--enable-index-page -Zunstable-options" cargo "+$channel" doc --no-deps --workspace
      - uses: actions/upload-artifact@v5.0.0
        with:
          name: doc
          path: target/thumbv6m-none-eabi/doc

  deploy:
    runs-on: ubuntu-24.04
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/download-artifact@v6.0.0
        with:
          name: doc
          path: doc
      - uses: actions/configure-pages@v5.0.0
      - uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: doc
      - uses: actions/deploy-pages@v4.0.5
        id: deployment
